header {
    background-color: black;
}

.navbar {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: grey;
}

.home {
    height: 100vh;
}
.border-dark {
    border: 1px solid black;
}


